<section id="two">
	<div class="inner">
		<article>
			<div class="content">
				<header>
					<h3>Pellentesque adipis</h3>
				</header>
				<div class="image fit">
					<img src="images/pic01.jpg" alt="" />
				</div>
				<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
			</div>
		</article>
		<article class="alt">
			<div class="content">
				<header>
					<h3>Morbi interdum mol</h3>
				</header>
				<div class="image fit">
					<img src="images/pic02.jpg" alt="" />
				</div>
				<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
			</div>
		</article>
	</div>
</section>
